<head>
	<meta charset="UTF-8">
		<title>Selection perso</title>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
		<link type="text/css" rel="stylesheet" href="select.css">
		<script src="select.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://kit.fontawesome.com/24016f6e1d.js" crossorigin="anonymous"></script>
		
	</head>
	<body>
		

		<div id="games">

			<div class="register animated bounceInLeft">
				<div class="inscription ">
					<div class="registerbutton">+</div>
					
				</div>
			</div>
			<div class="squareGame animated bounceInLeft">
				<div class="imgGame charac1">
					<div class="titre">Frank</div>
					<div class="desc">Ruggiero</div>
					<div class="titre">Dernière connexion</div>
					<div class="desc">23/04/2020 à 16h53</div>
					<div class="titre">Argent en jeu</div>
					<div class="desc">253 000$</div>
					<div class="titre">Statut </div>
					<div class="desc">En ville</div>
					
				</div>
			</div>
			<div class="squareGame animated bounceInLeft">
				<div class="imgGame charac2">
					<div class="titre">Frank</div>
					<div class="desc">Ruggiero</div>
					<div class="titre">Dernière connexion</div>
					<div class="desc">23/04/2020 à 16h53</div>
					<div class="titre">Argent en jeu</div>
					<div class="desc">253 000$</div>
					<div class="titre">Statut </div>
					<div class="desc">En ville</div>
				</div>

			</div>
			<div class="squareGame animated bounceInLeft">
				<div class="imgGame charac3">
					<div class="titre">Frank</div>
					<div class="desc">Ruggiero</div>
					<div class="titre">Dernière connexion</div>
					<div class="desc">23/04/2020 à 16h53</div>
					<div class="titre">Argent en jeu</div>
					<div class="desc">253 000$</div>
					<div class="titre">Statut </div>
					<div class="desc">En ville</div>

				</div>

			</div>
			<div class="squareGame animated bounceInLeft">
				<div class="imgGame charac4">
					<div class="titre">Frank</div>
					<div class="desc">Ruggiero</div>
					<div class="titre">Dernière connexion</div>
					<div class="desc">23/04/2020 à 16h53</div>
					<div class="titre">Argent en jeu</div>
					<div class="desc">253 000$</div>
					<div class="titre">Statut </div>
					<div class="desc">En ville</div>
				</div>

			</div>
			<div class="squareGame animated bounceInLeft">
				<div class="imgGame charac5">
					<div class="titre">Frank</div>
					<div class="desc">Ruggiero</div>
					<div class="titre">Dernière connexion</div>
					<div class="desc">23/04/2020 à 16h53</div>
					<div class="titre">Argent en jeu</div>
					<div class="desc">253 000$</div>
					<div class="titre">Statut </div>
					<div class="desc">En ville</div>
				</div>

			</div>
		</div>

	</body>