body{
	margin: 0;
	padding: 0;
	background-image: url("/connexion/images/bg.png");
	overflow-x:hidden;
  overflow-y:hidden;
  font-family: 'Roboto', sans-serif;;
}


#games{
	width: 1120em;
	position: absolute;
	top: .5em;
	left: 0;
	padding: 5em;
	z-index: 99;
	
}

.register {
  height: 25em;
	width: 18em;
	vertical-align: top;
	display: inline-block;
	transition: 0.3s ease;
}



.squareGame{
  margin-left: 2px;
  margin-right: 2px;
	height: 25em;
  width: 18em;
  position: relative;
	vertical-align: top;
	display: inline-block;
	transition: 0.3s ease;
}

.squareGame:hover{
	height: 27em;
	width: 18em;
  border: 3px solid;
  border-image: linear-gradient(0deg, rgb(241,215,193,100), rgb(255,171,100)) 1;
  box-shadow: 0px 0px 62px 0px rgba(255, 171, 100, 0.5);
	cursor: pointer;
}


.squareGame:before {
  z-index: 1;
  content: '';
  display: block;
  position: absolute;
  height: 0%;
  width: 100%;
  bottom: 0;
  transition: height 0.5s ease-out;
  background: linear-gradient(to bottom, transparent 10%, rgb(19, 10, 26,100) 100%);
}

.squareGame:hover:before {
  height: 100%;
}


.squareGame:hover .imgGame{
	height: %;
}

.imgGame{
	height: 100%;
	background-size: 100%;

}



.titre{
  position: relative;
  z-index: 10;
  color: white;
  font-weight: 300;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 17px;


}

.desc{
  position: relative;
  z-index: 10;
  vertical-align: bottom;
  color: white;
  font-weight: 900;
  text-align: left;
  padding-left: 10px;
  font-size: 17px;
  bottom:0;

}

.gameTitle{
	position: absolute;
	color: white;
	font-size: 1.2em;
	font-family: Arial;
	transform: translate(13.2em,-1.5em);
}
/*SQUARE IMAGE*****************************************/

.ascii{
	font-weight: bold;
}

.ps{
	background-image: url("https://i.postimg.cc/c1pRT9TJ/ps.png");
}

.new{
	background-image: url("https://i.postimg.cc/X7SSnLHG/new.png");
}

.inscription{
  background: radial-gradient(circle, rgba(53,53,53,1) 0%, rgba(21,21,21,1) 50%);
  height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}


.registerbutton
{

  padding:60px 0;
  font-weight: 900;
  text-align: center;
  color: white;
  font-size: 200px;
  transition: 0.8s;
  
  
}

.registerbutton:hover
{
  text-shadow: 0px 0px 15px rgba(23,10,6,0.7);
  color: rgb(255,171,100);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}

.charac1{
  background-image: url("images/bg-1.png");
  
}

.charac2{
	background-image: url("images/bg-2.png");
}

.charac3{
	background-image: url("images/bg-3.png");
}

.charac4{
	background-image: url("images/bg-4.png");
}

.charac5{
	background-image: url("images/bg-5.png");
}



/*Animation*/
.icon:nth-child(2) img {-webkit-animation-delay: 0.2s;animation-delay: 0.2s}
.icon:nth-child(3) img {-webkit-animation-delay: 0.3s;animation-delay: 0.3s}
.icon:nth-child(4) img {-webkit-animation-delay: 0.4s;animation-delay: 0.4s}

.icon img {
  -webkit-animation: anim 2s ease infinite;
  animation: anim 2s ease infinite;
  -webkit-transform: scale(0,0) rotateZ(180deg);
  transform: scale(0,0) rotateZ(180deg);
}

@-webkit-keyframes anim{
  0% {
    -webkit-transform: scale(0,0) rotateZ(-90deg);
    transform: scale(0,0) rotateZ(-90deg);opacity:0
  }
  30% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  50% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  80% {
    -webkit-transform: scale(0,0) rotateZ(90deg);
    transform: scale(0,0) rotateZ(90deg);opacity:0
  }
}

@keyframes anim{
  0% {
    -webkit-transform: scale(0,0) rotateZ(-90deg);
    transform: scale(0,0) rotateZ(-90deg);opacity:0
  }
  30% {
    -webkit-transform: scale(1,1) rotateZ(0deg);transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  50% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  80% {
    -webkit-transform: scale(0,0) rotateZ(90deg);
    transform: scale(0,0) rotateZ(90deg);opacity:0
  }
}


