body{
	margin: 0;
	padding: 0;
	background-image: url("/connexion/images/bg.png");
	overflow-x:hidden;
    overflow-y:hidden;
    font-family: 'Roboto', sans-serif;;
}


.listebg
{
    
    background: linear-gradient(0deg, rgba(34,193,195,0) 0%, rgba(0,0,0,0.5718662464985995) 35%, rgba(0,0,0,1) 100%);
    margin-top: 7%;
    padding-top: 50px;
    width: 1111px;
    height: 700px;
    overflow:auto;

}

.listebg::-webkit-scrollbar-track
{

    background-color: #ddd;

}

.listebg::-webkit-scrollbar
{
    width: 2.5px;
    scroll-behavior: smooth !important;


}

.listebg::-webkit-scrollbar-thumb
{
    background-color: #ffab00;

}

 
.logo2
{
    position: absolute;
    z-index: 5;
    width: 20%;
    max-width: 50%;
    margin-top: -10%;
    transition: 0.4s;
}


.logo2:hover
{

  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer
}


.form-group
{
    padding-top: 20px;
}
.form-control 
{
    font-weight: 500;
    text-decoration: none !important;
    color: white !important;
    font-size: 13px;
    width: 70%;
    box-shadow: none !important;
    background-color: #666666 !important;
    border-color: #5b5b5b !important;
    width: 200px;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition:width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;

}

.form-control::placeholder
{
    color: white !important;
    font-weight: 300;
    opacity: 20%;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.form-control:focus
{
    width: 300px !important;
    
}
.has-search .form-control-feedback {

    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: white;
    opacity: 20%;
}

.hleft
{
    margin-left: 3%;
}

.hright
{
    font-size: 14px;
    color: white;
    text-align: right;
    margin-right: 3%;
    line-height: 120%;
}

.joueursco
{
    margin-top: -1%;
    color: white;
}

.separation
{
    margin-right: 3%;
    margin-left: 3%;
    border-color:  white;
    height: 1px;
}

.title
{
    text-align: center;
    margin-top: -1%;
    margin-bottom: -1%;
    color: white;
    font-weight: 500;
}

.liste
{
    margin-top: 1%;
    color: white;
    text-align: center;
}

.selectperso
{
    transition: 0.5s;
}
.selectperso:hover
{
    font-weight: 600;
    width: auto;
    height: auto;
    background-color: #949494;
    cursor:pointer;
    
}


@media screen and (min-width:800px) and (max-width: 1366px)
{
    .listebg
    {
        height: 600px;
    }
}