html, body 
{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
	overflow-y: hidden;

 }

a
{
	color: inherit;
}

.bg
{
	background-image: url("./images/bg.png");
 	background-repeat: no-repeat;
  	padding: 9.981em;

}


.connect
{
	background-color: #f1f1f1;
	height: 44.25rem;
	width: 31.563rem;
	margin-top: 3.76%;
 	border-radius: 0px 20px 20px 0px;
}

.titlenews
{
	font-weight: 800;
	color: white;
	position: absolute;
	top: 50%;
	left: 36%;
	transform: translate(-50%, -50%);
}

.auteurnews
{
	font-style: italic;
	font-weight: 300;
	color: white;
	position: absolute;
	font-size: 12px;
	top: 52%;
	left: 24%;
	transform: translate(-50%, -50%);
}

.trait 
{
	position:absolute; 
	top:53%; 
	border: 0.3px solid white; 
	width:80%;
	left: 12%;
	
}

.txtchange
{
	font-weight: 400;
	color: white;
	position:absolute; 
	font-size: 15px;
	top:58%; 
	width:80%;
	left: 12%;
	line-height:110%;
}


.accsite
{
	text-align: center;
	font-weight: 600;
	color: white;
	position:absolute; 
	font-size: 17px;
	top: 87%; 
	width:80%;
	left: 12%;
}


.accsite:hover
{
	transition-duration: 1s;
	font-weight: 900;
	font-size: 19px;
	color:white;
	text-decoration: none;
}

.accdesc
{
	color:white;
	text-align: center;
	font-weight: 300;
	position:absolute; 
	font-size: 12px;
	top: 92%; 
	width:80%;
	left: 12%;
	line-height:110%;
}
.imgnews
{
	margin-left: 3.7%;
}

.image
{
	
	background-image: url('images/imagenews.png');
	background-repeat: no-repeat;
	width: 100%;
	
}

.logo
{
	padding: 10%;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	max-width: 70%;
}

.image-fluid
{
	width: 100%;
}

.welcomeback
{
	color: #908e8e;
	text-align: center;
	font-size: 30px;
	font-weight: 900;
}

.mercico
{
	color: #908e8e;
	margin-top: -2%;
	text-align: center;
	font-size: 15px;
	font-weight: 500;
}

/* CONNEXION */

.connexion

{
	text-align: center;
}


input[type=button], input[type=submit], input[type=reset]  
{
	border: 2px solid #ffab00;
	color: #ffab00;
	padding: 15px 80px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 20px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	margin: 5px 20px 40px 20px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  
  {
	background-color: #ffab00;
	color: white;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  
  {
	-moz-transform: scale(0.95);
	-webkit-transform: scale(0.95);
	-o-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
  }
  
  input[type=text], input[type=password] 
  {
	background-color: #f6f6f6;
	border: none;
	color: #908e8e;
	padding: 15px 32px;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 5px;
	width: 85%;
	border: 2px solid #f6f6f6;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus, input[type=password]:focus 
  {
	background-color: #fff;
	border-bottom: 2px solid #ffab00;
  }
  
  input[type=text]:placeholder 
  {
	color: #cccccc;
  }
  
  
  
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown 
  {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown 
  {
	0% {
	  opacity: 0;
	  -webkit-transform: translate3d(0, -100%, 0);
	  transform: translate3d(0, -100%, 0);
	}
	100% {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
	}
  }
  
  @keyframes fadeInDown 
  {
	0% {
	  opacity: 0;
	  -webkit-transform: translate3d(0, -100%, 0);
	  transform: translate3d(0, -100%, 0);
	}
	100% {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
	}
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn 
  {
	opacity:0;
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
  
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
  
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
  }
  
  .fadeIn.first
 {
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	animation-delay: 0.4s;
  }
  
  .fadeIn.second 
  {
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	animation-delay: 0.6s;
  }
  
  .fadeIn.third 
  {
	-webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	animation-delay: 0.8s;
  }
  
  .fadeIn.fourth 
  {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
  }
    
  
  /* OTHERS */
  
  *:focus 
  {
	  outline: none;
  } 
  
  #icon 
  {
	width:60%;
  }
  

/* TEXT BOTTOM */

  .textbas
  {
	  text-align: center;
	  color: #908e8e;
  }

  .inscriptionlien
  {	  
	  color: #ffab00;
	  font-weight: 900;
  }

  .inscriptionlien:hover
  {
	text-decoration: none;
	color: #ffab00;
  }

  .mdpforget
  {
	text-decoration: none;
	font-weight: 400;
  }

  .mdpforget:hover
  {
	font-weight: 600;
	text-decoration: none;
	color: #ffab00;
  }


  .custom-checkbox:focus
  {
	outline: 2px solid #ffab00 !important;
  }

  .rememberme
  {
	  font-size: 15px;
	  color: #908e8e;
	  left:8%;
	  text-align: left;
  }



  .custom-control-label:before
{
	background-color: #e8e8e8;
	border: 0px;
}
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before
{
	background-color: #ffab00;
}

  .custom-checkbox .custom-control-input:focus~.custom-control-label::before
{
	box-shadow: 0 0 0 0px #fff, 0 0 0 0.1rem #fff; 
}



@media screen and (min-width:800px) and (max-width: 1444px)
{




.imgnews
{
	width: 80%;
}

.txtchange
{
	font-weight: 400;
	color: white;
	position:absolute; 
	font-size: 12px;
	top:37%; 
	width:65%;
	left: 12%;
	line-height:110%;
}


.titlenews
{
	font-weight: 800;
	font-size: 14px;
	color: white;
	position: absolute;
	top: 30%;
	left: 34.5%;
	transform: translate(-50%, -50%);
	text-shadow: 0px 0px 6px rgba(0,0,0,0.6);
}

.trait
{
	position:absolute; 
	top:32%; 
	border: 0.2px solid white; 
	width:65%;
	left: 12%;
}

.auteurnews
{
	font-style: italic;
	font-weight: 300;
	color: white;
	position: absolute;
	font-size: 10px;
	top: 31.5%;
	left: 23%;
	transform: translate(-50%, -50%);
	text-shadow: 0px 0px 6px rgba(0,0,0,1);



}

.accsite
{
	text-align: center;
	font-weight: 600;
	color: white;
	position:absolute; 
	font-size: 13px;
	top: 64%; 
	width:80%;
	left: 5%;

}


.accsite:hover
{
	transition-duration: 1s;
	font-weight: 900;
	font-size: 15px;
	color:white;
	text-decoration: none;
}

.accdesc
{
	color:white;
	text-align: center;
	font-weight: 300;
	position:absolute; 
	font-size: 10.5px;
	top: 67%; 
	width:65%;
	line-height:110%;
}


.connexion
{
	width: 70%;

}

input[type="text" "password"]
{
	font-size: 10px;
}
}





